<div class="card mb-30px">

  <div class="card-body">

    <div class="mb-2"> Latest Posts </div>
    {% for post in site.posts limit:4 %}
    <div class="" style="border-bottom: 1px solid lightgrey; padding-top: 8px;"> 
      <div>
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      	 <small><span class="post-date"><time class="post-date" datetime="{{ post.last_modified_at | date:"%Y-%m-%d" }}">{{ post.last_modified_at | date_to_string }}</time></span></small>
      </div>
    </div>
    {% endfor %}
 
 {% assign hours= site.time | date: "%H" | plus:100 %}
 {% assign random = page.title.size | plus: hours | modulo: 4 %}

  <div> Some Posts </div>
    {% for post in site.posts  %}

			{% assign modrandom = forloop.index | modulo: 4 %}
			{% if modrandom == random %}
        <div class="" style="border-bottom: 1px solid lightgrey; padding-top: 8px;"> 
      	  <div>
      	    <a href="{{ post.url | absolute_url }}">
      	      {{ post.title }}
      	    </a>
      	    <small><span class="post-date"><time class="post-date" datetime="{{ post.last_modified_at | date:"%Y-%m-%d" }}">{{ post.last_modified_at | date_to_string }}</time></span></small>
      	  </div>
      	</div>
    	{% endif%}
    {% endfor %}
  </div>

</div>
